body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}


/* Pages */
.page {
  padding: 40px;
  min-height: 80vh;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

/* Footer */
footer {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 15px;
}
