body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* Navbar */
.navbar {
  background: #0d47a1;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Pages */
.page {
  padding: 40px;
  min-height: 80vh;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

/* Footer */
footer {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 15px;
}
